{% extends "shop/base.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<div class="container">
  <h1>Оформление заказа</h1>
  <div class="col-sm-4">
    <h2>Заполните форму</h2>
    <form class="order-form" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Отправить">
    </form>
  </div>

  <div class="order-info col-sm-8">
    <h2>Ваш заказ</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name_model }} |
          Количество: {{ item.quantity }} |
          Цена: {{ item.total_price }} руб.|
          Номер: {{ item.product.ids }} |
        </li>
      {% endfor %}
      <li>
          Итого: {{ cart.get_total_price }} руб.
      </li>
    </ul>
  </div>
</div>
{% endblock %}