{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили это письмо потому что вы, или кто-то другой запросил восстановление пароля от аккаунта на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Здравствуйте. Пожалуйста проследуйте по ссылке для изменения пароля:" %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'shop:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо что вы с нами!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}

{% endautoescape %}
