<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Сайт-портфолио Уварова Кирилла, Web-разработчика{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {% load staticfiles %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'shop/css/style.css' %}" />
</head>

<body>
    <!--header-->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="navbar-brand"><a href="{% url 'shop:shop' %}">SY-PRO</a></h1>
                </div>
                <!--navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'shop:shop' %}" class="active">Главная</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-4">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h4>Электроника</h4>
                                        <ul class="multi-column-dropdown">
                                            <li><a class="list" href="{% url 'shop:photo' %}">Фотоаппараты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown grid">
                            <a href="{% url 'shop:contact' %}" class="list1">Контакты</a>
                        </li>
                        <li class="dropdown grid">
                            <a href="{% url 'shop:employer' %}" class="list1">Работодателю</a>
                        </li>
                    </ul>
                    <!--/.navbar-collapse-->
                </div>
                <!--//navbar-header-->
            </nav>
            <div class="header-info">
                <!--
                    <div class="header-right search-box">
                        <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>             
                        <div class="search">
                            <form class="navbar-form">
                                <input type="text" class="form-control">
                                <button type="submit" class="btn btn-default" aria-label="Left Align">
                                    Search
                                </button>
                            </form>
                        </div>  
                    </div>
                    -->
                <div class="header-right login">
                    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                    <div id="loginBox">                     
                        {% if not user.is_authenticated %}
                        <form id="loginForm" class="loginForm" class="loginForm"method="POST" action="{% url 'shop:login' %}" name="loginForm">
                        {% if messages %}
                        <div id="messages">
                            {% for message in messages %} {{ message }} {% endfor %}
                        </div>
                        {% endif %}

                            {% csrf_token %}
                            <fieldset id="body">
                                <fieldset>
                                    <label for="username">Login</label>
                                    <input type="text" id="username" name="username">
                                </fieldset>
                                <fieldset>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password">
                                </fieldset>
                                <input class="login_submit" type="submit" value="Войти" form="loginForm">
                                <!--<label for="checkbox">
                                        <input type="checkbox" id="checkbox"> <i>Remember me</i>
                                    </label>
                                -->
                            </fieldset>
                            <p>New User ? <a class="signup" href="{% url 'shop:register_user' %}">Sign Up</a> <span><a class="remember" href="{% url 'shop:password_restart' %}">Forgot your password?</a></span></p>
                        </form>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="loginForm">
                            <fieldset id="body">
                                <div class="user_in">
                                    {{ user.username }} <a href="{% url 'shop:logout' %}">Выйти</a>
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="header-right cart">
                    <a href="#"><span class="glyphicon glyphicon-shopping-cart" id="shopping-cart" aria-hidden="true"></span></a>
                    <div class="cart-box">
                        <h4><a id="get_order" href="{% url 'cart:CartDetail' %}">
                                <span id="cart_total_price">{{ cart_total_price }}</span> (<span id="cart_count"> {{ cart_total_item }} </span>) руб. 
                            </a></h4>
                        <p><a id="get_order" href="{% url 'cart:CartDetail' %}">В корзину</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header_back"></div>
    <!--//header-->
    {% block content %}{% endblock %}
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-2 footer-grid">
                    <h4>Меню</h4>
                    <ul>
                        <li><a href="{% url 'shop:shop' %}">Главная</a></li>
                        <li><a href="{% url 'shop:photo' %}">Магазин</a></li>
                        <li><a href="{% url 'shop:contact' %}">Контакты</a></li>
                        <li><a href="{% url 'shop:employer' %}">Для работодателя</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!--//footer-->
    <div class="footer-bottom">
        <div class="container">
            <p>Develope by Uvarov Kirill 2017</p>
        </div>
    </div>
</body>
<script src="{% static 'shop/java/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/java/bootstrap-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/java/carhartl/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/java/jquery.loupe.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/java/scripts.js' %}" type="text/javascript"></script>

<!-- //js -->
<!-- cart -->
<!-- cart -->

</html>
