{% extends "shop/base.html" %} {% block content %}
<div class="container">
    <h2>{{ phototech.name_model }}</h2>
    <img src="{{ phototech.image_url }}">

    <p>Цена: {{ phototech.price}} Руб.</p>
    {% csrf_token %}
    <div id="add_to_cart" class="item_add" product_id="{{ phototech.ids }}" product_price="{{ phototech.price }}" url="{% url 'cart:add_product_front' %}">Купить</div>

<p>
    {% if phototech.available > 0 %}В наличии{% endif %} {% if phototech.available == 0 %}Нет в наличии{% endif %}
</p>
<p>Описание: {{ phototech.text_prev }}</p>

<p>Разрешение матрицы: {{ phototech.matrix_resol }}</p>
<p>Максимальное разрешение: {{ phototech.max_resol }}</p>
<p>Зум: {{ phototech.zoom }}</p>
<p>Цвет: {{ phototech.color }}</p>
<p>Страна производитель: {{ phototech.country }}</p>

</div>
{% endblock %}
