{% extends "shop/base.html" %}
{% block content %}
<div class="general">
	<h2>Добро пожаловать на сайт-портфолио, меня зовут Кирилл Уваров.</h2>
	<br>
	<p>Этот сайт создан с целью продемонстрировать мои навыки в разработке приложений, в данном случае интернет магазина.</p>
	<p>Здесь вы можете найти интересущие вас товары, отфильтровав характеристики, добавить товары в корзину, отредактировать количество товаров на странице заказа, а так же совершить сам заказ, получив соответствующее уведомление по почте.</p>
	<p>В качестве дополнения вы можете зарегистрироваться на сайте под своим именем, получив письмо с подтверждением регистрации. А также сбросить пароль если вы его забыли или в качестве тестирования.</p>
	<br>
	<br>
	<h3>Какие технологии были использованы:</h3>
	<ul>
		<li>Данный сайт написан на Django Framework/Python</li>
		<li>Используется реляционная база данных PostgeeSQL</li>
		<li>Для отображения корзины использованы JavaScript, библиотека JQuery и технология Ajax/POST</li>
		<li>Асинхронная отправка сообщений Celery(менеджер RabbitMQ)</li>
		<li>Более подробное описание на репозитории</li>
	</ul>
</div>
{% endblock %}