{% extends "shop/base.html" %}
{% block content %}

<div class="container">
      <div class="header">
        <h3 class="text-muted">Сброс пароля пользователя</h3>
      </div>
       <div class="row">
       <!-- Display the success message on successful submission and validation
            of the contact form data.
        -->
       <div class="alert alert-success">
         На указанную вами почту, если она зарегистрирована отправленно письмо со ссылкой для изменения пароля, если указанного письма нет, проверьте правильность ввода почты.
       </div>
       </div>
    </div>
{% endblock %}